dj-database-url==1.0.0
django-heroku==0.3.1
multitasking==0.0.11
newsapi==0.1.1
newsapi-python==0.2.6
python-jsonrpc-server==0.4.0
python-language-server==0.36.2
requests-futures==1.0.0
sklearn==0.0
ujson==5.5.0
whitenoise==6.2.0
yahooquery==2.2.15
yfinance==0.1.74
